<%# <h1>Caves#index</h1>
<p>Find me in app/views/caves/index.html.erb</p> %>


<center> <h1>Top Five Cafes</h1> </center>
<%= link_to "Add a Cafe",  new_cafe_path , { :class => "button waves-effect waves-light btn" } %>
<br><br>



  

<div class="row">
  <% @caves.each do |cafe| %>
  <div class="col-md-3">
    <div class="card mb-4"> 
  <div class="card-body">
      <%= image_tag(cafe.img, width:"100%", height: "200", alt: "Resturant logo")%>
      <h5 class="card-title">
     <p> </p>
        <%= link_to cafe.name, cafe_path(cafe) %>
        </h5>
        <p class="card-text">
      Rate:<%= cafe.rate%>
      <br>
      Location:<%= cafe.location %>
      <br>
      <a class="btn btn-primary" href="<%= edit_cafe_path(cafe) %>" >
      <i class="large material-icons">Edit</i>
      </a>

      <td><a class="btn btn-primary" data-confirm="Are you sure you want to delete <%= cafe.name %>?" data-method="delete" href="/caves/<%= cafe.id %>" rel="nofollow"><i class="large material-icons">Delete </i>
      </a>
      </tr>
      </div>
      </div>
  <% end %>


 
