
<h1>Top 5 Breakfasts</h1>
<%= link_to "Add a Breakfast",  breakfasts_path , { :class => "button waves-effect waves-light btn" } %>
<br><br>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Resturant</th>
    <th>Rate</th>
    <th>Location</th>
 
  </tr>

  <% @breakfasts.each do |breakfast| %>
      <tr>
      <td><%= image_tag(breakfast.img, size: "150x110", alt: "Resturant logo") %></td>
        <td><%= link_to breakfast.name, breakfast_path(breakfast) %></td>
        <td><%= breakfast.rate%></td>
        <td><%= breakfast.location %></td>
        <td><a class="btn-floating btn-large red" href="<%= edit_breakfast_path(breakfast) %>" >
           <em class="large material-icons">Edit Breakfast</em>
          </a>
        </td>
      </tr>
  <% end %>

</table>
